<div id="content">
  <div class="items">
    <div class="d">
      <div class="mat-card">
        <a><div id="bisquit" class="mat-card-content">
          <p class="heading">Sponge cakes</p>
          <button routerLinkActive="active" mat-raised-button color="acent" routerLink="./spongeCakes">More</button>
        </div></a>
      </div>
    </div>

    <div class="d">
      <div class="mat-card">
        <div id="wedding" class="mat-card-content">
          <p class="heading">Wedding cakes</p>
          <button routerLinkActive="active" routerLink="./weddingCakes" class="mat-raised-button">More</button>
        </div>
      </div>
    </div>
  </div>

  <div class="items">
    <div class="d">
      <div class="mat-card">
        <div id="sufle" class="mat-card-content">
          <p class="heading">Souffle Cakes</p>
          <button routerLinkActive="active" routerLink="./souffleCakes" class="mat-raised-button">More</button>
        </div>
      </div>
    </div>

    <div class="d">
      <div class="mat-card">
        <div id="sloi" class="mat-card-content">
          <p class="heading">Puff cakes</p>
          <button routerLinkActive="active" routerLink="./puffCakes" class="mat-raised-button">More</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<button routerLinkActive="active" mat-raised-button color="warn" routerLink="./spongeCakes">More</button>-->

