<div class="btn-group">
<button class="btn" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Manage Sponge Cakes</button>
<button class="btn" routerLink="./wedding" routerLinkActive="active">Manage Wedding Cakes</button>
<button class="btn" routerLink="./puff" routerLinkActive="active">Manage Puff Cakes</button>
<button class="btn" routerLink="./souffle" routerLinkActive="active">Manage Souffle Cakes</button>
<button class="btn" routerLink="./users" routerLinkActive="active">Manage Users</button>
</div>
<router-outlet></router-outlet>

