<mat-list>
  <h1 mat-subheader>Your order</h1>
  <mat-list-item *ngFor="let basket of basketList; last as last">
    <img id="icon" style="margin-right: 5%" src="{{basket.path}}">
    <h4 mat-line>{{basket.name}}</h4>
    <p mat-line> {{basket.price}} </p>
    <button (click)="deleteItemFromBasket(basket.name, basket.price, basket.path)"
            mat-raised-button color="primary" style="margin-right:5px;">Delete</button>
    <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
  </mat-list-item>
  <div id="footer">
    <button routerLink="../pastry" mat-raised-button color="primary" id="buy">Buy</button>
  <h2 id="sum">SUM: {{getPrice()}}</h2>
  </div>
</mat-list>
