<div *ngFor="let cake of weddingCakes">
  <div class="item">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{cake.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{cake.path}}">
      <mat-card-content>
        <p>{{cake.description}}</p>
        <h3>{{cake.price}}</h3>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="createWeddingCakes()" color="accent">CREATE</button>
        <button mat-button (click)="updateWeddingCakes(cake)"color="primary">UPDATE</button>
        <button mat-button (click)="deleteWeddingCakes(cake.id)" color="warn">DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
